.sign_up{

    background: url('./images/butterfly.jpeg')no-repeat;
    background-size:cover;
    position: relative;
    text-align: center ;
    color: whitesmoke;
    margin: 0;
    padding: 100px;
    top: 5px;
    }
    
    
    .name{
        position: relative;
        left: 25px;
        padding: 20px;
    }
    
    .name2{
        position: relative;
        left: 25px;
        padding: 20px;
    }
    
    .name3{
        position: relative;
        left: 25px;
        padding: 20px;
    }
    
    .name4{
        position: relative;
        left: 100px;
        padding: 20px;
    }
    
    .name5{
        position: relative;
        left: 150px;
        padding: 20px;
    }
    
    .name6{
        position: relative;
        width: 165px;
        left: 150px;
        padding: 20px;
    }
    
    .gender{
        position: relative;
        right: 498px;
        bottom: 20px;
    }
    .form-check{
    position: relative;
    left: 165px;
    }
    .male{
        position: relative;
        right: 401px;
        bottom: 20px;
    }
    
    .female{
        position: absolute;
        right: 682px;
        bottom: 20px;
    }
    
    .others{
        position: relative;
        right: 32px;
        bottom: 41px;
    }
    .form-check-label{
    position: relative;
    left: 20px;
    }
    .checkmeout{
        position: relative;
        right: 455px;
        bottom: 0px;
    }
    
    .button{
    position: relative;
    
    }
    .table{
        position: relative;
        padding: 20px;
        top: 15px;
        left: 27px;
    }
    
    .err_msg {
        color: red;
    }
    .errmsg{
        color: red;
    }
    