*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.row{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
}
.login img{
    border-top-left-radius:30px ;
    border-bottom-left-radius: 30px ;
    width: 335px;

}
.container{
    max-width: 858px
}
.login h1{
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Pacifico', cursive;
}
.inp{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius:60px;
    box-shadow: -1px 1px 30px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 1px 30px -12px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 30px -12px rgba(0,0,0,0.75);
}
.btn1{
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    border-radius:60px;
    font-weight: 600;
    background: rgb(160, 43, 62);
    color: whitesmoke;
}
.btn1:hover{
    background: pink;
    transition: 0.5s;
}
.fcb{
    font-size:2.5rem;
    color: rgb(21, 21, 124);
    cursor: pointer;
}
.fcg{
    font-size:2.5rem;
    color: green
}

